@import '../../../../../components/Collapsible/collapsible';
.advanced-options{
  margin-top: 21px;
}
.advanced-options--container{
    margin-left:28px;
}

.container-title--field, .Collapsible__trigger{
  padding: 6px 35px 17px 35px;
}
